.container {
  padding: 0 10% 0 10%;
  height: 100%;
  flex: 1;
  background: #ffffff;
}

.loginHeader {
  margin-top: 15%;
}

.divider {
  height: 10;
  width: 25%;
  border-bottom-width: 6;
  border-bottom-color: #6ca7ff;
  margin-bottom: 15;
}

.loginHeaderText {
  font-family: 'Montserrat-Black';
  font-size: 48;
  color: #5a57e8;
  text-align: left;
  margin-bottom: 5%;
}

.loginButtonContainer {
  flex: 1;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-bottom: 30%;
}

.loginButton {
  background-color: #6ca7ff;
  border-radius: 10px;
  padding: 7px;
  width: 100%;
  text-transform: 'lowercase';
  align-items: center;
}

.loginFieldsContainer {
  margin-top: 10%;
}

.loginField {
  font-family: 'Montserrat-Regular';
  font-size: 18;
  width: 100%;
  background: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 17px;
  elevation: 0.5;
  margin-bottom: 7%;
  color: #373738;
  opacity: 0.5;
}

.loginButtonText {
  font-family: 'Montserrat-Bold';
  font-size: 14;
  color: white;
}

.statusMessage {
  font-family: 'Montserrat-Bold';
  font-size: 14;
}
